<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售管理系统-会员修改页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form" lay-filter="edit_form">
        <input type="hidden" name="id" value="{{ user_id }}"/>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="username" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" placeholder="请输入用户名">
            </div>
            <div class="layui-form-mid layui-word-aux">
                至少2个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input" placeholder="请输入密码">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到12个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repassword" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input" placeholder="请再次输入密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_phoneNum" class="layui-form-label">
                电话号码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_phoneNum" name="phoneNum" lay-verify="phone"
                       autocomplete="off" class="layui-input" placeholder="请输入电话号码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline">
                <input type="email" name="email" lay-verify="email"
                       autocomplete="off" class="layui-input" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn layui-btn-radius layui-btn-normal" lay-filter="edit" lay-submit="">
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-radius layui-btn-primary">重置</button>
        </div>
    </form>
</div>
<script>
    layui.config({
        base: '/static/layui/'
    }).extend({
        test: 'selectPlus'
    }).use(['selectPlus', 'jquery', 'table', 'form'], function () {
        var $ = layui.$;
        var form = layui.form
            , selectPlus = layui.selectPlus
            , layer = layui.layer;

        $.post("/user/findById", {id: '{{ user_id }}'}, function (result) {
            if (result != null) {//查询成功，给form赋值
                form.val("edit_form", {
                    id: result.id,
                    username: result.username,
                    password: result.password,
                    repassword: result.password,
                    phoneNum: result.phone,
                    email: result.email,
                    sex: result.sex
                });
            } else {  //查询失败
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                layer.alert("查询失败！", {icon: 2});
            }
        });

        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 2) {
                    return '昵称至少得2个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(edit)', function (data) {
            var formData = data.field;
            console.debug(formData);
            var username = formData.username,
                phoneNum = formData.phoneNum,
                password = formData.password,
                email = formData.email,
                sex = formData.sex,
                id = formData.id;
            layer.alert('您确认要修改此用户信息？', {
                skin: 'layui-layer-molv' //样式类名layui-layer-lan或layui-layer-molv  自定义样式
                , closeBtn: 1    // 是否显示关闭按钮
                , anim: 1 //动画类型
                , btn: ['确定', '取消'] //按钮
                , icon: 2    // icon
                , yes: function () {
                    //发送请求到后台
                    $.post("/user/save",
                        {
                            id: id,
                            username: username,
                            password: password,
                            phone: phoneNum,
                            email: email,
                            sex: sex
                        }, function (result) {
                            if (result.success === true) {//修改成功，刷新当前页表格
                                layer.alert("修改成功", {icon: 6}, function () {
                                    // 获得frame索引
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                    window.parent.location.reload();//修改成功后刷新父界面
                                });
                            } else if (result.success === false) {  //修改失败
                                layer.alert(result.msg, {icon: 2});
                            }
                        });
                }
            })
            return false;
        });
    });
</script>
</body>
</html>